body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.titulo {

    width: 100%;
    margin-bottom: 500px;
    position: absolute;
    text-align: center;
    color: white;

}

.alinhamento {
    width: 40%;
    margin-top: 150px;
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: max(12px, 1.1vh);

}
