body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.titulo {

    width: 100%;
    margin-bottom: 500px;
    position: absolute;
    text-align: center;
    color: white;


}

.alinhamento {
    width: 40%;
    margin-top: 150px;
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: max(12px, 1.1vh);

}

/* Cores do botão */
#bt0:hover {
    background-color: yellow;

}

#bt1:hover {
    background-color: red;

}

#bt2:hover {
    background-color: blue;

}

#bt3:hover {
    background-color: violet;

}

#bt4:hover {
    background-color: green;

}

#bt5:hover {
    background-color: orange;

}

#bt6:hover {
    background-color: #953553;

}

#bt7:hover {
    background-color: #FF4433;

}

#bt8:hover {
    background-color: #9ACD32;

}

#bt9:hover {
    background-color: #FFAE42;

}

#bt10:hover {
    background-color: #293462
}

#bt11:hover {
    background-color: #40e0d0;

}


/* Redução de tamanho para tablet e mobile*/

@media only screen and (min-width:300px) and (max-width: 860px) {



    .titulo {
        margin-bottom: 800px;
    }



    .button {
        justify-content: center;
        flex-direction: row;
        width: 95%;
        padding: 5px;

        margin: 5px;
        top: 50%;
        left: 50%;


        text-align: center;
        font-size: max(12px, 1.1vh);

    }

}